version: '3.8'

services:
  fastapi-app:
    build:
      context: .
    volumes:
      - ./app:/code/app
    ports:
      - "8080:8080"
    # 1. Load the file here
    env_file:
      - .env
    # 2. Only keep config vars here, REMOVE the API key
    environment:
      - PYTHONUNBUFFERED=1
      - MODE=development